@import 'part:@sanity/base/theme/variables/forms-style';
@import 'part:@sanity/base/theme/variables-style';

.functions {
  display: inline-flex;
  align-items: center;
  flex-grow: 0;
  font-size: var(--font-size-small);
  color: var(--text-color-secondary);
  margin-left: var(--small-padding);
}

.functions > * {
  margin-right: var(--small-padding);
}

.linkToReference {
  z-index: 2;
  transition: transform 0.1s linear, opacity 0.1s linear;
  transform: scale(1.2);
}

.linkToReference svg {
  color: inherit;
}

.linkToReference:hover {
  opacity: 1;
  color: var(--link-color);
}

.linkToReference:active {
  opacity: 1;
  color: var(--text-color);
}
